{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block template_css %}
<link rel="stylesheet" href = "{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}

<h2>All Recipes</h2>
<p class="subtitle">Explore your new food haven!</p>

<form method="GET" action="" class="searchBar">
    <input type="text" name="query" placeholder="Search recipes..." value="{{ request.GET.q }}" class="searchBarInput">
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if user.is_authenticated %}
<a href="{% url 'flavourindexApp:add_recipe' %}" class="btn btn-primary addRecipeButton">+ Add a Recipe</a>
{% endif %}

{% if recipes %}
<div class="recipeGrid">
    {% for recipe in recipes %}
    <div class="card">
        {% if recipe.image %}
        <img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="recipeImage">
        {% endif %}
        <h4 class="indexRecipeTitle">{{ recipe.title }}</h4>
        <p class="indexRecipeDesc">{{ recipe.description|truncatewords:15 }}</p>
        {% if recipe.category %}
        <span class="indexRecipeCat">{{ recipe.category }}</span>
        {% endif %}
        {% if recipe.difficulty %}
        <span class="indexRecipeCat">{{ recipe.difficulty }}</span>
        {% endif %}
        <div class ="indexRecipeAuthor">
            <small class="indexRecipeAuthorText">
                {% if recipe.author %}
                    By {{ recipe.author.username }}
                {% else %}
                    By FlavourIndex
                {% endif %}
            </small>
            {% if recipe.source == "local" %}
                <a href="{% url 'flavourindexApp:recipe_detail' recipe.id %}" class="btn btn-primary viewRecipeButton">View</a>
            {% else %}
                <span class="indexRecipeExtAuthor">External recipe</span>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p class="none">No recipes yet. Be the first to add one!</p>
{% endif %}

{% endblock %}